.ym-button-group {
    --ym-button-group-border-color: var(--ym-border-color-lighter);
  }
  

.ym-button {
--ym-button-font-weight: var(--ym-font-weight-primary);
--ym-button-border-color: var(--ym-border-color);
--ym-button-bg-color: var(--ym-fill-color-blank);
--ym-button-text-color: var(--ym-text-color-regular);
--ym-button-disabled-text-color: var(--ym-disabled-text-color);
--ym-button-disabled-bg-color: var(--ym-fill-color-blank);
--ym-button-disabled-border-color: var(--ym-border-color-light);
--ym-button-hover-text-color: var(--ym-color-primary);
--ym-button-hover-bg-color: var(--ym-color-primary-light-9);
--ym-button-hover-border-color: var(--ym-color-primary-light-7);
--ym-button-active-text-color: var(--ym-button-hover-text-color);
--ym-button-active-border-color: var(--ym-color-primary);
--ym-button-active-bg-color: var(--ym-button-hover-bg-color);
--ym-button-outline-color: var(--ym-color-primary-light-5);
--ym-button-active-color: var(--ym-text-color-primary);
--ym-border: 1px solid var(--ym-button-border-color);
}

.ym-button {
display: inline-flex;
justify-content: center;
align-items: center;
line-height: 1;
height: 32px;
white-space: nowrap;
cursor: pointer;
color: var(--ym-button-text-color);
text-align: center;
box-sizing: border-box;
outline: none;
transition: 0.1s;
font-weight: var(--ym-button-font-weight);
user-select: none;
vertical-align: middle;
-webkit-appearance: none;
background-color: var(--ym-button-bg-color);
border: var(--ym-border-width) solid;
border-color: var(--ym-button-border-color);
padding: 8px 15px;
font-size: var(--ym-font-size-base);
border-radius: var(--ym-border-radius-base);
& + & {
margin-left: 12px;
}
&:hover,
&:focus {
color: var(--ym-button-hover-text-color);
border-color: var(--ym-button-hover-border-color);
background-color: var(--ym-button-hover-bg-color);
outline: none;
}
&:active {
color: var(--ym-button-active-text-color);
border-color: var(--ym-button-active-border-color);
background-color: var(--ym-button-active-bg-color);
outline: none;
}
/*plain*/
&.is-plain {
--ym-button-hover-text-color: var(--ym-color-primary);
--ym-button-hover-bg-color: var(--ym-fill-color-blank);
--ym-button-hover-border-color: var(--ym-color-primary);
}
/*round*/
&.is-round {
border-radius: var(--ym-border-radius-round);
}
/*circle*/
&.is-circle {
border-radius: 50%;
padding: 8px;
}
/*disabled*/
&.is-loading,
&.is-disabled,
&.is-disabled:hover,
&.is-disabled:focus,
&[disabled],
&[disabled]:hover,
&[disabled]:focus {
color: var(--ym-button-disabled-text-color);
cursor: not-allowed;
background-image: none;
background-color: var(--ym-button-disabled-bg-color);
border-color: var(--ym-button-disabled-border-color);
}
[class*='er-icon'] {
width: 1em;
height: 1em;
}
/* 波纹效果 */
&.is-corrugation {
    box-shadow:
0 10px 13px rgba(31, 45, 61, 0.1),
0 0 0 -1px rgba(32, 160, 255, 0.2),
0 0 0 -25px var(--ym-button-bg-color);
transition:
all 0.25s,
box-shadow 0s;
letter-spacing: 1px;
&:hover {
    box-shadow:
      0 10px 13px var(--ym-button-bg-color),
      0 0 0 25px rgba(32, 160, 255, 0),
      0 0 0 25px rgba(32, 160, 255, 0);
    transition:
      all 1s,
      box-shadow 1s ease-out 0.1s;
  }
}
}

@each $val in primary, success, warning, info, danger {
.ym-button--$(val) {
--ym-button-text-color: var(--ym-color-white);
--ym-button-bg-color: var(--ym-color-$(val));
--ym-button-border-color: var(--ym-color-$(val));
--ym-button-outline-color: var(--ym-color-$(val)-light-5);
--ym-button-active-color: var(--ym-color-$(val)-dark-2);
--ym-button-hover-text-color: var(--ym-color-white);
--ym-button-hover-bg-color: var(--ym-color-$(val)-light-3);
--ym-button-hover-border-color: var(--ym-color-$(val)-light-3);
--ym-button-active-bg-color: var(--ym-color-$(val)-dark-2);
--ym-button-active-border-color: var(--ym-color-$(val)-dark-2);
--ym-button-disabled-text-color: var(--ym-color-white);
--ym-button-disabled-bg-color: var(--ym-color-$(val)-light-5);
--ym-button-disabled-border-color: var(--ym-color-$(val)-light-5);
}
.ym-button--$(val).is-plain {
--ym-button-text-color: var(--ym-color-$(val));
--ym-button-bg-color: var(--ym-color-$(val)-light-9);
--ym-button-border-color: var(--ym-color-$(val)-light-5);
--ym-button-hover-text-color: var(--ym-color-white);
--ym-button-hover-bg-color: var(--ym-color-$(val));
--ym-button-hover-border-color: var(--ym-color-$(val));
--ym-button-active-text-color: var(--ym-color-white);

--ym-button-disabled-text-color: var(--ym-color-$(val)-light-5);
--ym-button-disabled-bg-color: var(--ym-color-$(val)-light-9);
--ym-button-disabled-border-color: var(--ym-color-$(val)-light-8);
}
}

.ym-button--large {
--ym-button-size: 40px;
height: var(--ym-button-size);
padding: 12px 19px;
font-size: var(--ym-font-size-base);
border-radius: var(--ym-border-radius-base);
/*circle*/
&.is-circle {
border-radius: 50%;
padding: 12px;
}
}

.ym-button--small {
--ym-button-size: 24px;
height: var(--ym-button-size);
padding: 5px 11px;
font-size: 12px;
border-radius: calc(var(--ym-border-radius-base) - 1px);
/*circle*/
&.is-circle {
border-radius: 50%;
padding: 5px;
}
[class*='ym-icon'] {
width: 12px;
height: 12px;
}
}

.ym-button-group {
display: inline-block;
vertical-align: middle;

&::after {
clear: both;
}
& > :deep(.ym-button){
float: left;
position: relative;
margin-left: 0;
&:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: var(--ym-button-group-border-color);
}
&:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
    border-left-color: var(--ym-button-group-border-color);
}
&:not(:first-child):not(:last-child) {
    border-radius: 0;

    border-left-color: var(--ym-button-group-border-color);
    border-right-color: var(--ym-button-group-border-color);
}
&:not(:last-child) {
    margin-right: -1px;
}
&:first-child:last-child {
    border-top-right-radius: var(--ym-border-radius-base);
    border-bottom-right-radius: var(--ym-border-radius-base);
    border-top-left-radius: var(--ym-border-radius-base);
    border-bottom-left-radius: var(--ym-border-radius-base);

    &.is-round {
    border-radius: var(--ym-border-radius-round);
    }

    &.is-circle {
    border-radius: 50%;
    }
}
}

}

