

.ym-content-menu {
    /* width: 100%;
    height: 100%; */
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  .menu {
    --ym-context-menu-bg-color: var(--ym-fill-color-blank);
    --ym-collapse-header-height: 48px;
    --ym-context-menu-text-color: var(--ym-text-color-primary);
    --ym-context-menu-font-size: 13px;
    --ym-context-menu-disabled-text-color: var(--ym-disabled-text-color);
    --ym-context-menu-disabled-border-color: var(--ym-border-color-lighter);
    position: fixed;
    color: var(--ym-context-menu-text-color);
    width: 200px;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ccc;
    transition: 0.3s ease-in;
    overflow: hidden;
    background-color: #fff;
    ul {
      width: 100%;
      padding: 10px;
      margin: 0;
      /* border-radius: 20px; */
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      background-color: var(--ym-context-menu-bg-color);
      li {
        margin: 0 10px;
        box-sizing: border-box;
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          background-color: #efefef;
          /* transform: translateY(-10px); */
          /* box-shadow: 0 0 10px #ccc; */
          color: var(--ym-context-menu-bg-color);
          border-radius: 5px;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .menu-slot {
      background-color: #fff;
      padding: 10px;
    }
  }

  @each $val in primary, success, warning, info, danger {
    .ym-menu--$(val) {
      --ym-context-menu-bg-color: var(--ym-color-$(val));
      --ym-context-menu-text-color: var(--ym-color-white);
    }

  }
