

.ym-content-menu {
    /* width: 100%;
    height: 100%; */
    display: inline-block;
  }
  .menu {
    --ym-context-menu-bg-color: var(--ym-fill-color-blank);
    --ym-collapse-header-height: 48px;
    --ym-context-menu-text-color: var(--ym-text-color-primary);
    --ym-context-menu-font-size: 13px;
    --ym-context-menu-disabled-text-color: var(--ym-disabled-text-color);
    --ym-context-menu-disabled-border-color: var(--ym-border-color-lighter);
    position: fixed;
    color: var(--ym-context-menu-text-color);
    width: 150px;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ccc;
    transition: 0.3s ease-in;
    overflow: hidden;
    ul {
      width: 100%;
      margin: 10px 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin: 0 10px;
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        border-bottom: 1px solid #efefef;
        cursor: pointer;
        transition: all 0.2s ease-in;
  
        &:hover {
          background-color: #efefef;
          transform: translateY(-10px);
          box-shadow: 0 0 10px #ccc;
          border: 1px solid #fff;
          color: #46bff0;
          border-radius: 10px;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  @each $val in primary, success, warning, info, danger {
    .ym-menu--$(val) {
      --ym-context-menu-bg-color: var(--ym-color-$(val));
      --ym-context-menu-text-color: var(--ym-color-white);
    }

  }
