.ym-message-box {
    --ym-message-box-title-color: var(--ym-text-color-primary);
    --ym-message-box-width: 420px;
    --ym-message-box-border-radius: var(--ym-border-radius-base);
    --ym-message-box-font-size: var(--ym-font-size-large);
    --ym-message-box-content-font-size: var(--ym-font-size-base);
    --ym-message-box-content-color: var(--ym-text-color-regular);
    --ym-message-box-padding-primary: 12px;
    --ym-message-box-font-line-height: var(--ym-font-size-medium);
    --ym-message-box-close-size: var(--ym-message-close-size, 16px);
  }
  
  .ym-overlay-message-box {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    overflow: auto;
  
    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }  
  }
  
  .ym-message-box {
    display: inline-block;
    position: relative; 
    max-width: var(--ym-message-box-width);
    width: 100%;
    padding: var(--ym-message-box-padding-primary);
    vertical-align: middle;
    background-color: var(--ym-bg-color);
    border-radius: var(--ym-message-box-border-radius);
    font-size: var(--ym-message-box-font-size);
    text-align: left;
    overflow: hidden;
    backface-visibility: hidden;
  
    box-sizing: border-box;
    overflow-wrap: break-word;
  
    &:focus{
      outline: none !important;
    }
    
    &.is-center {
      .ym-message-box__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      }
  
      .ym-message-box__footer,.ym-message-box__content {
        justify-content: center;
      }
  
    }
  
    :deep(.ym-icon){
  
      @each $val in info, success, warning, danger {
        &.ym-icon-$(val) {
          color: var(--ym-color-$(val))!important;
        }
      }
      &.ym-icon-error {
        color: var(--ym-color-danger)!important;
      }
    }
  
    .ym-message-box__header {
      padding-bottom: var(--ym-message-box-padding-primary);
  
      .ym-message-box__title {
        color: var(--ym-message-box-title-color);
        font-size: var(--ym-message-box-font-size);
        line-height: var(--ym-message-box-font-line-height);
      }
  
      .ym-message-box__header-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        background: transparent;
        font-size: var(--ym-message-box-close-size);
        cursor: pointer;
  
        i {
          color: var(--ym-color-info);
          font-size: inherit; 
        }
        &:focus,
        &:hover {
          i {
            color: var(--ym-color-danger);
          }
        }
      }
  
      &.show-close {
        padding-right: calc(var(--ym-message-box-padding-primary) + var(--ym-message-box-close-size));
      }
  
  
    }
  
    .ym-message-box__content {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: var(--ym-message-box-content-font-size);
      color: var(--ym-message-box-content-color);
      .ym-message-box__message {
        margin: 0;
        & p {
          margin: 0;
          line-height: var(--ym-message-box-font-line-height);
        }
      }
    }
    .ym-message-box__input {
      padding-top: 12px;
  
    }
  
    .ym-message-box__footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      padding-top: var(--ym-message-box-padding-primary);
    }
  
  }
  
  
  .fade-in-linear-enter-active {
    .ym-overlay-message-box {
      animation: msgbox-fade-in var(--ym-transition-duration);
    }
  }
  
  .fade-in-linear-leave-active {
    .ym-overlay-message-box {
      animation: msgbox-fade-in var(--ym-transition-duration) reverse;
    }
  }
  
  @keyframes msgbox-fade-in {
    0% {
      transform: translate3d(0, -20px, 0);
      opacity: 0;
    }
  
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }